body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}
.boards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.scoreSheets{
    display: flex;
    justify-content: space-around;
}
button {
    padding: 10px 20px;
}